<html layout:decorate="~{layout}">
<div layout:fragment="content" class="main-content mt-5">
	<div class="container">
        <h1 class="mb-4 text-center">응답 목록</h1>

		<div class="d-flex mt-4 pt-3 border-top mb-4">
	        <table class="table table-striped table-hover">
	            <thead class="table-dark">
	                <tr>
	                    <th>응답 번호</th>
						<th>학생</th>
	                    <th>강좌명</th>
	                    <th>문제 내용</th>
	                    <th>사용자 답안</th>
	                    <th>정답 여부</th>
	                </tr>
	            </thead>
	            <tbody>
	                <tr th:each="ua : ${useranswerList}">
	                    <td th:text="${ua.useranswerno}"></td>
						<td th:text="${ua.attempt.member.name}"></td>
	                    <td th:text="${course.title}"></td>
	                    <td th:text="${ua.quizQuestion.content}"></td>
	                    <td th:text="${ua.answer}"></td>
	                    <td>
	                        <span th:text="${ua.iscorrect} ? '✅ 정답' : '❌ 오답'"></span>
	                    </td>
	                </tr>
	            </tbody>
	        </table>
		</div>

        <a th:href="@{|/quiz/list/${course.courseno}|}" class="btn btn-primary btn-lg">돌아가기</a>
    </div>
</div>
</html>
