[Unit]
Description=LMS Spring Boot Application
After=network.target mysql.service

[Service]
Type=simple
User=ubuntu
WorkingDirectory=/opt/lms
ExecStart=/usr/bin/java -jar /opt/lms/build/libs/LMSProject-0.0.1-SNAPSHOT.jar
Restart=always
RestartSec=10
StandardOutput=journal
StandardError=journal
SyslogIdentifier=lms

[Install]
WantedBy=multi-user.target
